<header>
	<img src="/logo.jpeg" alt="samwthomas site logo" width="15%">
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>Home</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	<img style="margin-left: 0px; padding-top: 10px; display: inline" src="https://github.com/sam-w-thomas/samwthomas.com/actions/workflows/samwthomas-vale-lint-books.yml/badge.svg" alt="Blog Posts Linting Status" > <img style="margin-left: 0px; padding-top: 10px; display: inline" src="https://github.com/sam-w-thomas/samwthomas.com/actions/workflows/samwthomas-vale-lint-posts.yml/badge.svg" alt="Blog Posts Linting Status" >
	</p>
	{{ end }}
</header>
